@model IEnumerable<VladimirTripAdvisor.Models.ApplicationModelDB>
@{
    ViewData["Title"] = "Мои заявки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список заявок на улучшение статуса аккаунта</h2>
        </div>
    </div>

    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Тип заявки
                    </th>
                    <th>
                        Статус заявления
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Created)
                    {
                        <tr>
                            <td width="40%">Улучшение аккаунта</td>
                            <td width="40%">Создана</td>
                            <td class="text-center">
                            </td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Taked)
                    {
                        <tr>
                            <td width="40%">Улучшение аккаунта</td>
                            <td width="40%">На рассмотрении администратором</td>
                            <td class="text-center"></td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Processing)
                    {
                        <tr>
                            <td width="40%">Улучшение аккаунта</td>
                            <td width="40%">В обработке</td>
                            <td></td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Edit)
                    {
                        <tr>
                            <td width="40%">Улучшение аккаунта</td>
                            <td width="40%">На редактировании</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Application" asp-route-Id="@obj.Id" asp-action="ViewApp" class="btn btn-primary">
                                        Открыть
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Done)
                    {
                        <tr>
                            <td width="40%">Улучшение аккаунта</td>
                            <td width="40%">Принята</td>
                            <td></td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Canceled)
                    {
                        <tr>
                            <td width="40%">Улучшение аккаунта</td>
                            <td>Отклонена администратором</td>
                            <td class="text-center"></td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    }
    else
    {
        <p>Список пустой</p>
    }
</div>

