@page
@model RegisterModel

<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-10 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-success text-center py-4">
                            @if (User.IsInRole(VladimirTripAdvisor.WC.AdminRole))
                            {
                                <strong>Регистрация аккаунта администратора</strong>
                            }
                            else
                            {
                                <strong>Регистрация</strong>
                            }
                        </h3>
                        <hr />
                        <div class="py-2">
                            <input asp-for="Input.Name" placeholder="Имя" class="form-control" aria-required="true" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Surname" placeholder="Фамилия" class="form-control" aria-required="true" />
                            <span asp-validation-for="Input.Surname" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Midname" placeholder="Отчество, оставьте поле, если отсутствует" class="form-control" aria-required="true" />
                            <span asp-validation-for="Input.Midname" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Email" placeholder="Электронная почта" type="email" class="form-control" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+7</span>
                                </div>
                                <input asp-for="Input.PhoneNumber" placeholder="Номер телефона" type="text" class="form-control" aria-required="true" />
                            </div>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-row row py-2">
                            <div class="col-6">
                                <input asp-for="Input.Password" class="form-control" placeholder="Пароль" type="password" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Подтверждение пароля" type="password" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="py-2">
                            @if (User.IsInRole(VladimirTripAdvisor.WC.AdminRole))
                            {
                                <button id="registerSubmit" type="submit" class="btn btn-warning form-control">Зарегистрировать аккаунт администратора</button>
                            }
                            else
                            {
                                <button id="registerSubmit" type="submit" class="btn btn-primary form-control">Зарегистрироваться</button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
